/*text styles*/
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*--------------------------------------------------------------------*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header{
    background-color: #FDF7E9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    padding: 5px 10%;
}

.header .logo{
    cursor: pointer;
}

.header .logo img{
    height: 71px;
    width: auto;
    margin: 10px;
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 10px, 20px;
}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 1rem;/*16px*/
    font-family: Manrope;
    font-weight: 600;/*SemiBold*/
    color: #081F3C;
    text-decoration: none;
    padding: 15px;
}

/*button*/

.header .btnSF button{
    font-size: 1rem;/*16px*/
    font-family: Manrope;
    font-weight: 800; /*ExtraBold*/
    padding: 0.65em 1em;
    margin: 15px 15px 15px 12rem;
    background: #FDF7E9;
    border: 3px solid #081F3C;
    border-radius: 6px;
    cursor: pointer;
}

.header .btnCF button{
    font-size: 1rem;/*16px*/
    font-family: Manrope;
    font-weight: 800; /*ExtraBold*/
    color: white;
    padding: 0.65em 1em;
    background:  #081F3C;
    border: 3px solid #081F3C;
    border-radius: 6px;
    cursor: pointer;
}

/*--------------------------------------------------------------------*/

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("photographer.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: white;
  }
  
  .heroText{
      font-size: 3.5rem; /*56px*/
      font-family: Montserrat;
      font-weight: 400; /*Regular*/
      color: black;
      /*word-spacing: 0.313rem; /*5px*/
      text-wrap: balance;
      line-height: 5rem;/*80px*/
      letter-spacing: -1.5%;
      text-align: justify;
  }
  
  
  .btnPrin{
    font-size: 1.125rem; /*18px*/
    font-family: Manrope;
    font-weight: 800; /*ExtraBold*/
  }
  
  .hero-text button {
    border: none;
    border-radius: 6px;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
  }
  
  .hero-text button:hover {
    background-color: #555;
    color: white;
  }