/*text styles*/
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*--------------------------------------------------------------------*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*TTITLES*/
h1{
    font-size: 3.25rem; /*52px*/
    font-family: Manrope;
    font-weight: 800; /*Extra Bold*/
    word-spacing: 0.313rem; /*5px*/
}

h2{
    font-size: 3rem;/*48px*/
    font-family: Manrope;
    font-weight: 800; /*Extra Bold*/
    word-spacing: 0.313rem;/*5px*/
}

h3{
    font-size: 2.5rem;/*40px*/
    font-family: Manrope;
    font-weight: 700;/*Bold*/
    word-spacing: 0.313rem;/*5px*/
}

h4{
    font-size: 1.5rem;/*24px*/
    font-family: Manrope;
    font-weight: 700;/*Bold*/
    word-spacing: 0.313rem;/*5px*/
}

.subtitle{
    font-size: 1.125;/*18px*/
    font-family: Manrope;
    font-weight: 600;/*SemiBold*/
    word-spacing: 0.313rem;/*5px*/
    text-align: center;
    color: #404040;
}

p{
    font-size: 1rem; /*18px*/
    font-family: Manrope;
    font-weight: 400; /*Regular*/
    word-spacing: 0.313rem; /*5px*/
    line-height: 2rem;/*32px*/
    text-align: justify;
}

/*----------------------------------NAVBAR---------------------------------*/

.header{
    background-color: #FDF7E9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    padding: 5px 10%;
}

.header .logo{
    cursor: pointer;
}

.header .logo img{
    height: 71px;
    width: auto;
    margin: 10px;
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 10px, 20px;
}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 1rem;/*16px*/
    font-family: Manrope;
    font-weight: 600;/*SemiBold*/
    color: #081F3C;
    text-decoration: none;
    padding: 15px;
}

/*button*/

.header .btnSF button{
    font-size: 1rem;/*16px*/
    font-family: Manrope;
    font-weight: 800; /*ExtraBold*/
    padding: 0.65em 1em;
    margin: 15px 15px 15px 12rem;
    background: transparent;
    border: 3px solid #081F3C;
    border-radius: 6px;
    cursor: pointer;
}

.header .btnCF button{
    font-size: 1rem;/*16px*/
    font-family: Manrope;
    font-weight: 800; /*ExtraBold*/
    color: white;
    padding: 0.65em 1em;
    background:  #081F3C;
    border: 3px solid #081F3C;
    border-radius: 6px;
    cursor: pointer;
}

/*----------------------------------HERO IMAGE---------------------------------*/

:root{
    --heroImg-index: url('../img/heroImg2.jpg');
    --heroImg-testPrin: url('../img/heroExam.jpg');
}

.hero-image {
    /*background-image: url('../img/heroImg2.jpg');*/
    background-size: cover; /* Cubre todo el espacio disponible*/
    background-position: center; /* Centra la imagen */
    height: 100vh; /* 100% del alto de la ventana */
    display: flex;
    justify-content: flex-start; /* Alinea el contenido a la derecha */
    align-items: center; /* Centra verticalmente */
    padding-right: 20px; /* Espacio para separar el texto y el botón del borde derecho */
}

.heroImg-index{
    background-image: var(--heroImg-index);
}

.hero-text {
    text-align: left; /* Alinea el texto y el botón a la derecha */
    color: rgb(0, 0, 0); /* Color del texto */
    margin: 30px;
    padding: 25px;
}

.hero-text h1 {
    font-size: 3.5rem; /* 56px */
    font-family: Montserrat;
    font-weight: 400; /* Regular */
    line-height: 5rem; /* 80px */
    letter-spacing: -1.5%;
    text-align: justify;
    margin-bottom: 20px; /* Espacio entre el texto y el botón */
    inline-size: 700px;
    overflow-wrap: break-word;
    margin-bottom: 30px;
}

:root {
    --color-fondo-btn-azulD: #081F3C; /*Variable dark blue*/
    
    --color-fondo-btn-azulC: #2484FD; /*Variable azul claro*/

    --color-fondo-btn-transparente: transparent;
    --color-margin-btn-transparente: #081F3C;
    --color-text-btn-transparente:#081F3C;
}

.btnPrin {
    padding: 10px 15px; /* Tamaño del botón */
    font-size: 1.125rem; /*18px*/
    font-family: Manrope;
    font-weight: 800; /*ExtraBold*/
    color: white; /* Color del texto del botón */
    text-decoration: none; /* Quitar subrayado del botón */
    border-radius: 6px; /* Borde redondeado del botón */
}

.btnPrin-centrado {
    display: flex;
    justify-content: center;
    margin: auto;
}

/*Uso de la variable azul claro*/
.btnPrin-azulClaro {
    background-color: var(--color-fondo-btn-azulC); 
}

.btnPrin-azulClaro:hover{
    background-color: #277ce6;
}

/*Uso de la variable azul oscuro*/
.btnPrin-azulDark {
    background-color: var(--color-fondo-btn-azulD); /*Uso de la variable azul oscuro*/
}

.btnPrin-azulDark:hover{
    background-color: #0c2544;
}

/*Uso de la variable transparent*/
.btnPrin-transparent{
    background-color: var(--color-fondo-btn-transparente);
    box-shadow: 0 0 0 2px var(--color-margin-btn-transparente);
    color: var(--color-text-btn-transparente);
    margin-right: 50px
}

/*----------------------------------Index.html---------------------------------*/
.imgContent img{
    width: 550px;
    height: auto;
}

.imgContent{
    margin-right: 30px; /*Espacio entre la imagen y el texto*/
    margin-left: 15px;
}

.infoContent{
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}

.textContent {
    flex: 1; /* Ocupa todo el espacio disponible en la columna derecha */
    padding: 25px;
}

/*----------------------------------FOOTER---------------------------------*/
.footerContent{
    padding: 20px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-text {
    text-align: left; /* Alinea el texto y el botón a la derecha */
    color: rgb(0, 0, 0); /* Color del texto */
    margin: 10px;
    padding: 5px;
}

.footer-text h2 {
    letter-spacing: -1.5%;
    margin-bottom: 20px; /* Espacio entre el texto y el botón */
    inline-size: 700px;
    overflow-wrap: break-word;
    margin-bottom: 30px;
}

.btnPosition {
    display: flex;
    gap: 60px; /* Espacio entre los botones */
}

.footerInfo{
    display: flex;
    justify-content: end;
    margin: 0 30px;
    padding: 0 20px;
}

.columna{
    padding: 10px;
    margin: 0 5px;
}

.footerInfo a{
    text-decoration: none;
    font-size: 0.938rem;/*15px*/
    font-family: Montserrat;
    font-weight: normal;
    color: black;
    line-height: 1.8em;
}

.footerInfo :hover{
    color: #277ce6;
}


/*------------------------testVocacionalPrin.html--------------------------------*/
/*hero image*/
.heroImg-testPrin{
    background-image: var(--heroImg-testPrin);
}

.descTest{
    padding: 35px;
    margin: 30px;
}

.titleTest{
    text-align: center;
    margin: 20px;
}

